APP_NAME=privacy-broadcast-console
APP_ENV=development
APP_MODE=webcam_hybrid
PREFER_PRIVACY=1
ALLOWLIST_MATCH_THRESHOLD=0.62
SWAP_MATCH_THRESHOLD=0.70
MIN_DETECTION_CONFIDENCE=0.55
MIN_TRACKING_CONFIDENCE=0.40
MIN_OCCLUSION_CONFIDENCE=0.35
USE_GPU=1
EXECUTION_PROVIDERS=CUDAExecutionProvider,CPUExecutionProvider
PERSONAMASK_FACE_DETECTOR=auto
PERSONAMASK_ONNXRUNTIME_PROVIDER=CUDAExecutionProvider
PERSONAMASK_INSIGHTFACE_CTX_ID=0
PERSONAMASK_INSIGHTFACE_ROOT=/home/bys0626/.insightface
PERSONAMASK_INSIGHTFACE_MODEL=buffalo_l
CAMERA_INDEX=0
PREVIEW_WIDTH=1280
PREVIEW_HEIGHT=720
DET_SIZE_WIDTH=640
DET_SIZE_HEIGHT=640
MODELS_DIR=./models
INSIGHTFACE_MODEL_NAME=buffalo_l
SWAP_MODEL_PATH=./models/swap/inswapper_128_fp16.onnx
ENHANCER_MODEL_PATH=./models/enhancers/GFPGANv1.4.pth
NO_ALBUMENTATIONS_UPDATE=1
MPLCONFIGDIR=/tmp/matplotlib
